{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block  panel-heading %}
<h1  class="text-center"  style="color: #0a67fb;">{% trans "Sign Up" %}</h1>
{% endblock %}
{% block  form %}
<h5>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}您即将使用您的{{provider_name}}帐户登录{{site_name}}。 最后一步，请填写以下表格：{% endblocktrans %}</h5>

<form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
  {% csrf_token %}
  <div  class="form-group">
             <div class="help-block" style="color: #ea644a;">
     {%   for  value in form.errors.values %}
     {{ value }}
     {% endfor %}
       </div>
   <p><label for="id_email">E-mail:</label>
       {{ form.email }}
   </p>
  <p><label for="id_username">用户名:</label>
     {{ form.username }}
  </p>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-success" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
{% endblock %}



