{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block  left-accounts %}
    <hr><hr><hr><hr>
    <div  class="col-md-12">
    <ul class="nav nav-primary nav-stacked">
        <li class="nav-heading">设置</li>
        <li class="active">
          <a href="{% url  'account_change_password' %}">修改密码</a>
        </li>
        <li>
          <a href="{% url  'topic:emailSettings' %}">邮箱设置</a>
        </li>
      </ul>
    </div>
{% endblock %}


{% block  panel-heading %}

    <h2  class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
{% endblock %}
{% block  form %}
{% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div  class="form-group">
                                   <div class="help-block" style="color: #ea644a;">
     {%   for  value in form.errors.values %}
     {{ value }}
     {% endfor %}
       </div>
<p><label for="id_password1">新密码:</label> <input type="password" class="form-control" name="password1" placeholder="新密码" required="" id="id_password1"></p>
                </div>
                  <div  class="form-group">
<p><label for="id_password2">新密码（重复）:</label> <input type="password" class="form-control" name="password2" placeholder="新密码（重复）" required="" id="id_password2"></p>
                    </div>
            <input type="submit" class="btn btn-primary" name="action" value="修改密码">
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}
