{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block  left-accounts %}
    <hr><hr><hr><hr>
    <div  class="col-md-12">
    <ul class="nav nav-primary nav-stacked">
        <li class="nav-heading">设置</li>
        <li class="active">
          <a href="{% url  'account_change_password' %}">修改密码</a>
        </li>
        <li>
          <a href="{% url  'topic:emailSettings' %}">邮箱设置</a>
        </li>
      </ul>
    </div>
{% endblock %}

{% block  panel-heading %}
<h1  class="text-center"  style="color: #0a67fb;">{% trans "Set Password" %}</h1>
{% endblock %}
{% block form %}
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        <div  class="form-group">
                 <div class="help-block" style="color: #ea644a;">
     {%   for  value in form.errors.values %}
     {{ value }}
     {% endfor %}
       </div>
            <p><label for="id_password1">密码:</label> <input type="password" class="form-control" name="password1" placeholder="密码" required="" id="id_password1"></p>
        </div>
        <div  class="form-group">
            <p><label for="id_password2">密码(重复):</label> <input type="password" class="form-control" name="password2" placeholder="密码(重复)" required="" id="id_password2"></p>
        </div>
        <input type="submit" class="btn   btn-primary"  name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
