{% extends "account/base.html" %}

{% load i18n %}



{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block  left-accounts %}
    <hr><hr><hr><hr>
    <div  class="col-md-12">
    <ul class="nav nav-primary nav-stacked">
        <li class="nav-heading">设置</li>
        <li class="active">
          <a href="{% url  'account_change_password' %}">修改密码</a>
        </li>
        <li>
          <a href="{% url  'topic:emailSettings' %}">邮箱设置</a>
        </li>
      </ul>
    </div>
{% endblock %}


{% block  panel-heading %}
    <h2  class="text-center"  style="color: #0a67fb;">修改密码</h2>
{% endblock %}

{% block form %}
<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        <div  class="form-group">
                <div class="help-block" style="color: #ea644a;">
     {%   for  value in form.errors.values %}
     {{ value }}
     {% endfor %}
       </div>
        <p><label for="id_oldpassword">当前密码:</label> <input type="password" class="form-control" name="oldpassword" placeholder="当前密码" required="" id="id_oldpassword"></p>
        </div>
    <div class="form-group">
        <p><label for="id_password1">新密码:</label> <input type="password" name="password1"  class="form-control" placeholder="新密码" required="" id="id_password1"></p>
    </div>
    <div class="form-group">
        <p><label for="id_password2">新密码（重复）:</label> <input type="password" name="password2" placeholder="新密码（重复）"  class="form-control" required="" id="id_password2"></p>
    </div>
        <button type="submit" class="btn btn-block btn-primary" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}