{% extends  'myAPPBase.html' %}
{% load  staticfiles %}
{% load  newhubu %}
{% load  threadedcomments_tags %}

{% block CssOrJs %} 

 {% endblock %}




{% block  right-container %}


    <div  class="row">
{#        <h1  id="carousel-title">生物信息热点：“贺建奎”让基因编辑“背了个大锅”</h1>#}
<div id="myNiceCarousel" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
    <li data-target="#myNiceCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myNiceCarousel" data-slide-to="1"></li>
    <li data-target="#myNiceCarousel" data-slide-to="2"></li>
  </ol>
 <!-- 轮播项目 -->
  <div class="carousel-inner">
      {% for  eachCarousel  in allCarousel %}
          {% ifequal  forloop.counter  1 %}
    <div class="item active">
    <a  href="{% url  'topic:postContent' postId=eachCarousel.post.id slug=eachCarousel.post.slug %}">
    <h1>{{ eachCarousel.title }}</h1>
      <img alt="{{ eachCarousel.title }}" src="{{ eachCarousel.avatar.url }}">
      <div class="carousel-caption">
        <h3>{{ eachCarousel.title }}</h3>
        <p>{{ eachCarousel.slug }}</p>
      </div>
    </a>
    </div>
              {% else %}
              <div class="item">
              <a  href="{% url  'topic:postContent' postId=eachCarousel.post.id slug=eachCarousel.post.slug %}">
              <h1>{{ eachCarousel.title }}</h1>
      <img alt="{{ eachCarousel.title }}" src="{{ eachCarousel.avatar.url }}">
      <div class="carousel-caption">
        <h3>{{ eachCarousel.title }}</h3>
        <p>{{ eachCarousel.slug }}</p>
      </div>
              </a>
    </div>
          {% endifequal %}
{% endfor %}
  </div>

  <!-- 项目切换按钮 -->
  <a class="left carousel-control" href="#myNiceCarousel" data-slide="prev">
    <span class="icon icon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myNiceCarousel" data-slide="next">
    <span class="icon icon-chevron-right"></span>
  </a>
</div>
    <!-------------轮播结束----------------------->
    </div>
    <div class="row">
<div class="list">
  <header>
      <h3><a id="recommend" href="javascript:void (0);" class="color-index"> 推荐 </a>
        <span id="newNew">
            <a href="javascript:void (0);"> 最新 <small></small></a>
        </span>
          <span id="top">
            <a style='margin-left: 10px;' href="javascript:void (0);"> 置顶 <small></small></a>
        </span>
    </h3>
  </header>
<span id="loading-number" style="display: none;">2</span>
<div  id="list-Content">
    {% for  eachPost  in  allPostList %}
        {% get_comment_count for eachPost as  commentCount %}
  <div class="items items-hover" id="leftContent" style="overflow: auto!important;line-height: 1.67;">
      <div class="item" style="font-size: 15px!important;">
      <div class="item-heading">
          <div style="font-size: 12px!important;" class="pull-right label label-success"><a href="{% url 'topic:SortContent'  node_id=eachPost.node.id  %}" style="color: #fff!important;">{{ eachPost.node }}</a></div>
        <h2><a style="color: #145ccd!important;" href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}" target='_blank'>{{ eachPost.title }}</a></h2>
      </div>
      <div class="item-content">
          <a  style="color: grey;" href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}">
         {% ifequal eachPost.pictureUrl  '无' %}
             {% else %}
              <div class="media pull-right card"  style="margin-left: 20px;"><img src="{{ eachPost.pictureUrl }}"  alt="{{ eachPost.title }}--HUBU生信社区www.biocoder.cn"></div>
          {% endifequal %}
              <div class="text"><a style="color: #1A1A1A;font-size: 14px;" href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}">{% CutContent  eachPost.content %}</a></div>
          </a>
      </div>

      <div class="item-footer">
          <a href="{% url  'users:lookProfile' id=eachPost.user.id %}" class="text-muted"><i style="font-size: 14px!important;" class="icon icon-user"></i>{{ eachPost.user.nick_name }}</a>
          <div  class="pull-right">
              <span><a  href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}" class="text-muted"><i style="font-size: 14px!important;" class="icon icon-eye-open"></i> {{ eachPost.read_nums }}</a> </span><span><a href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}#defaultComment" class="text-muted"><i style="font-size: 14px!important;" class="icon-chat"></i> {{ commentCount }}</a> </span><span style="font-size: 14px!important;" class="text-muted">{{ eachPost.update_time }}</span>

          </div>
          </div>
    </div>
  </div>
    {% endfor %}
<!--script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-fc-o-4k-e1+1g6"
     data-ad-client="ca-pub-5072850497249913"
     data-ad-slot="3926895629"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script-->
</div>
{#<footer>#}
{#  <!--开始分页------------------>#}
{#      <div  class="row">#}
{#          <div  class="col-xs-12 col-md-offset-2">#}
{#<ul class="pager pager-justify pager-pills">#}
{#    <li><a  class="load-more" >阅读更多 </a></li>#}
{#    <span id="loading-number" style="display: none;">1</span>#}
{#  </ul>#}
{#          </div>#}
{#      </div>#}
{#    <!-------分页结束--------->#}
{#  </footer>#}
</div>
    </div>
{% endblock %}
{% block  left-container %}
<div class="panel">
  <div class="panel-body">
      <div class="row">
      <a class="panel-item" href="{% url  'topic:writePost'  type='create' %}">
   <i class="icon icon-edit"></i>
      <p>写文章</p>
      </a>
        <a class="panel-item" href="{% url  'topic:writePost'  type='create' %}">
   <i class="icon icon-question "></i>
      <br>
       <p>提问题</p>
      </a>
        <a class="panel-item" href="{% url  'topic:writePost'  type='create' %}">
   <i class="icon icon-gift"></i>
      <br>
      <p>写想法</p>
      </a>
      </div>
  </div>
   <div class="list-group">
       {% if request.user.is_authenticated %}
       <a href="{% url  'topic:drafts'  type='watch' %}" class="list-group-item"><i class="icon icon-bookmark-empty">草稿箱</i> <span class="label label-badge label-info" style="font-size: 14px;">{% getDratfsNumber request %}个草稿</span></a>
       {% else %}
        <a href="{% url 'account_login' %}" class="list-group-item"><i class="icon icon-bookmark-empty">草稿箱</i></a>

       {% endif %}
   </div>
</div>
    <!--------------------各项功能开始-------------------------------->
    <!--第二个面板开始--->
<div class="panel panel-info">
        <div class="panel-body">
            <p style="color: #333;font-size: 16px;border-bottom: solid 1px #ddd;">HUBU生信每周最佳博主</p>
  <div class="items">
      <!--排名第一-->
      {% for eachUser  in allGoodBloger %}
    <div class="item">
      <div class="item-content">
          <div class="media pull-left"><a href="{% url  'users:lookProfile'  id=eachUser.id %}"><img src="{{ eachUser.avatar.url }}" alt="{{ eachUser.nick_name }}的头像" width="46" height="46"></a></div>
          <div class="text" style="font-size: 14px;"><a  style="color: grey!important;" href="{% url  'users:lookProfile'  id=eachUser.id %}">{{ forloop.counter }}.{{ eachUser.nick_name }}</a></div>
          <p><a href="{% url  'users:lookProfile'  id=eachUser.id %}" target="_blank" style="    background: url(//assets.dxycdn.com/gitrepo/bbs/img/bbs/userrankflw.png?t=12) no-repeat;display: inline-block;
    width: 54px;
    height: 24px;"></a></p>
      </div>
    </div>
      {% endfor %}
      <!--一个结束-->

  </div>
</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-i3+e-1e-2w+ap"
     data-ad-client="ca-pub-5072850497249913"
     data-ad-slot="1109679455"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    <!--第三个面板开始-->
    <div class="panel panel-info">
        <div class="panel-body">
            <p style="color: #333;font-size: 16px;border-bottom: solid 1px #ddd;">每周十大热门文章</p>
<div class="items">
    {% for  eachPost  in allGoodPost %}
        {% get_comment_count for eachPost as  commentCount %}
      <div class="item"  style="font-size: 15px!important;">
        <div class="item-heading">
          <h4><a href="{% url  'topic:postContent' postId=eachPost.id slug=eachPost.slug %}">{{ forloop.counter }}.{{ eachPost.title }}</a></h4>
        </div>
        <div class="item-content">
          <div class="text" style="font-size:12px;">{% CutContent  eachPost.content %}</div>
        </div>
        <div class="item-footer">
           <span class="text-muted" style="font-size: 14px!important;"><a  href="{% url  'users:lookProfile' id=eachPost.user.id %}"><i style="font-size: 14px!important;" class="icon icon-user"></i>{{ eachPost.user}}</a></span><span style="font-size:13px!important;" class="pull-right">{{ eachPost.update_time }}</span>
        </div>
      </div>
    {% endfor %}


</div>
</div>
    </div>


{#    <!----------广告轮播区------------->#}
{#    <!-----------ad结束---------------------->#}
{#    <!----热门问题-->#}
{#        <!--div class="panel panel-info">#}
{#        <div class="panel-body">#}
{#            <p style="color: #333;font-size: 16px;border-bottom: solid 1px #ddd;">每周十大热门问题</p>#}
{#  <div class="items">#}
{#     #}
{#    <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#       <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#       <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#     #}
{#  </div>#}
{#</div>#}
{#    </div>#}
{#    #}
{#   #}
{# <div class="panel panel-info">#}
{#        <div class="panel-body">#}
{#            <p style="color: #333;font-size: 16px;border-bottom: solid 1px #ddd;">生物产业招聘专场<span style="float: right"><a  href="www">更多</a></span></p>#}
{#  <div class="items">#}
{#      <!---------------------->#}
{#    <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#<!--------------------->#}
{#       <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#       <div class="item">#}
{#        <div class="item-heading">#}
{#        <div class="pull-right label label-success">维基</div>#}
{#        <h4><a href="###">HTML5 发展历史</a></h4>#}
{#      </div>#}
{#    </div>#}
{#      <!---中间内容-->#}
{#  </div>#}
{#</div>#}
{#</div>#}
    <!------------------->
     <div class="container">
    <p style="margin-top: 0px;color:#878B91;font-size: 14px;line-height: 2;">
        HUBU生信专注于生物信息学技术发展的社区<br>
        <a  style="color:#878B91;" target="_blank" href="http://bio.hubu.edu.cn/">湖北大学生物信息学</a><span  class="Footer-dot"></span>
        <a  style="color:#878B91;" target="_blank" href="http://www.12377.cn/">网上有害信息举报专区</a><br>
        联系方式：anshiwang@yeah.net<br>
        Copyright ©<a  style="color:#878B91;" target="_blank" href="https://www.lovexu.xyz">我爱小徐子</a>    -基于<a  style="color:#878B91;" target="_blank" href="https://www.djangoproject.com/">django</a>开发
        </p>
  </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-i3+e-1e-2w+ap"
     data-ad-client="ca-pub-5072850497249913"
     data-ad-slot="1109679455"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>





    <!------------------------------->
    <!--脚注--->
{% endblock %}






