{% extends  'myAPPBase.html' %}
{% load  staticfiles %}

{% block  head_title %}
{{ request.user.nick_name }}-个人资料|HUBU生信社区
{% endblock %}
{% block   CssOrJs %}
<link href="{% static  'lib/tabs/zui.tabs.css' %}" rel="stylesheet">
{% endblock %}
{% block  mainContent %}
    <div  class="container">
    <div  class="col-xs-1">
    </div>
        <div  class="col-xs-12">
<div  class="panel"  style="margin-bottom: 10px;">
<div  class="panel-body">
<div class="media">
     <div class="pull-left">
     <img   src="{{ request.user.avatar.url }}">
     </div>
     <div class="media-body"  id="profile-info">
         <h1><strong>{{ request.user.nick_name }}</strong>
             {% ifequal request.user.gender  '男' %}
             <span><i class="icon icon-mars"></i></span>
             {% else %}
             <span><i class="icon icon-venus"></i></span>
             {% endifequal %}
             <span>{{ request.user.oneWords }}</span></h1>
         <ul class="list-unstyled" id="profileHeadList">
             <li><span class="profileHeadItem">居住地</span><span class="profileHeadValue">{{ request.user.location }}</span></li>
             <li><span class="profileHeadItem">所在行业</span><span class="profileHeadValue">{{ request.user.trade }}</span></li>
             <li><span class="profileHeadItem">职业经历</span><span class="profileHeadValue">{{ request.user.jobs }}</span></li>
             <button class="profileHeadButton" type="button"><i class="icon icon-angle-down"></i>查看详细资料</button>
             <div  id="profileHeadEnd">
                 <li><span class="profileHeadItem">教育经历</span><span class="profileHeadValue">{{ request.user.school }}</span></li>
                 <li><span class="profileHeadItem">个人简介</span><span class="profileHeadValue">{{ request.user.introduction }}</span></li>
                 <button class="profileHeadButtonTop" type="button"><i class="icon icon-angle-up"></i>收起详细资料</button>
                 <a  style="margin-top: 50px;" href="{% url  'users:editProfile' %}"  class="btn btn-primary pull-right">编辑个人资料</a>
             </div>
         </ul>
     </div>
</div>
</div><!-----panel-body-------------->
</div><!---------panel--------------->
            <!-------------------主要内容------------------------------------>
        <div  class="col-xs-8"   style="background-color: #fff">
            {% include  'topic/profileNodeHtml.html' %}
<div  class="panel"  style="margin-top: -12px!important;  padding-top: 10px;">
<div  class="panel-body">
    <div class="row">
      <a class="panel-item" href="{% url  'topic:writePost' type='create' %}">
   <i class="icon icon-edit"></i>
      <p>写文章</p>
      </a>
        <a class="panel-item" href="{% url  'topic:writePost' type='create' %}">
   <i class="icon icon-question "></i>
      <br>
       <p>提问题</p>
      </a>
        <a class="panel-item" href="{% url  'topic:writePost' type='create' %}">
   <i class="icon icon-gift"></i>
      <br>
      <p>写想法</p>
      </a>
      </div>
</div>
</div>
                <!-------------个人信息--------------------->
                <div class="container">
    <p style="margin-top: 0px;color:#878B91;font-size: 14px;line-height: 2;">
        HUBU生信专注于生物信息学技术发展的社区<br>
        <a  style="color:#878B91;" target="_blank" href="http://bio.hubu.edu.cn/">湖北大学生物信息学</a><span  class="Footer-dot"></span>
        <a  style="color:#878B91;" target="_blank" href="http://www.12377.cn/">网上有害信息举报专区</a><br>
        联系方式：anshiwang@yeah.net<br>
        Copyright ©<a  style="color:#878B91;" target="_blank" href="https://www.lovexu.xyz">我爱小徐子</a>    -基于<a  style="color:#878B91;" target="_blank" href="https://www.djangoproject.com/">django</a>开发
        </p>
  </div>
                <!----------------------------------------------------->
            </div>
        </div>
            <!-------------------------------------------------------------->
    <div  class="col-xs-1">
    </div>
    </div>
{% endblock %}
{% block  bottomJs %}
    <script src="{% static  'js/main.js' %}"></script>
    <script src="{% static  'lib/tabs/zui.tabs.js' %}"></script>
{% endblock %}
{% block  footer %}
{% endblock %}